* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@import (css) "assets/css/font-awesome.min.css";

@import "frontend/ui/modules/less/architecture";
@import "frontend/ui/modules/less/elements";
@import "frontend/ui/modules/less/panel";
@import "frontend/ui/modules/less/modal";
@import "frontend/ui/modules/less/configuration";
@import "frontend/ui/modules/less/animation";

@import "frontend/ui/app";
@import "frontend/ui/modules/contacts/contacts";
@import "frontend/ui/modules/projects/projects";
@import "frontend/ui/modules/graphics/graphics";
@import "frontend/ui/modules/documents/documents";
@import "frontend/ui/modules/document/document";