<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/jasmine.css">
        <script src="js/assets/jasmine.min.js"></script>
        <script type="text/javascript" src="js/assets/jasmine-html.min.js"></script>
        <script type="text/javascript" src="js/assets/boot.min.js"></script>
        <script type="text/javascript" src="js/assets/angular.js"></script>
        <script type="text/javascript" src="js/assets/angular-mock.js"></script>
    </head>

    <body>
    <!-- This div element corresponds to the  CalculatorController we created via the JavaScript-->
    <div ng-controller="CalculatorController">
        <input ng-model="x" type="number">
        <input ng-model="y" type="number">
        <strong>{{z}}</strong>
        <!-- the value for ngClick maps to the sum function within the controller body -->
        <input type="button" ng-click="sum()" value="+">
    </div>
    </body>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/test.js"></script>
</html>