ofc-hours {
    display: block;
    height: 50%;

    .score-bg {
        background: #eee;
        width: 100%;
        margin-bottom: 8px;
    }

    .hours-table {



        td {
            border-top: 1px dotted #000;
        }

        td:last-child {
            text-align: right;
        }

        td.align-right {
            text-align: right;
        }

    }
}
