@font-face {
    font-family: 'glyphs';
    src: url('frontend/assets/fonts/office.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

button {
    cursor: pointer;
}

input {
    font-family: "Roboto condensed";
    font-size: 12px;
    transition: background 0.5s ease;
    width: 100%;
}

td.align-right {
    text-align: right;
}

/* frame */


html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto condensed";
    background: #fff;
    color: #333;
    font-size: 12px;
    line-height: 15px;
}

#menu {
    height: 40px;
}

.innouveau-square {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
    background: #fed401;
}

.identity {
    display: inline-block;
    font-size: 32px;
    line-height: 40px;
    vertical-align: top;
    font-family: 'Dosis';
}

.menu-select {
    vertical-align: top;
    display: inline-block;
    padding: 16px;
}

.content {
    height: calc(100% - 40px);
    padding: 10px;
}



/* panel */

.panel {
    border: 1px solid #de7070;
    padding: 10px;
    background: #fafafa;
    position: relative;
    margin-bottom: 40px;

}

ofc-hours .panel, ofc-comments .panel {
    height: calc(100% - 40px);
}

.panel-body {
    height: calc(100% - 34px);
    overflow: auto;
}

.panel-attachement {
    height: 34px;
}

.panel-footer {
    background-image: url('frontend/assets/img/footer.png');
    position: absolute;
    right: -1px;
    width: 39px;
    bottom: -26px;
    height: 26px;
}

.panel-footer-remove {
    background-image: url('frontend/assets/img/footer-red.png');
}

.panel-footer button {
    background: #de7070;
    float: right;
    color: #fff;
}

.panel-footer button:hover {
    color: #000;
}

.panel-footer-remove button {
    background: red;
}

.panel-footer-remove button:hover {
    color: #000!important;
}



/* modal */

.modal, .confirm {
    position: fixed;
    z-index: 100000;
    left: 50%;
    top: -38px;
    height: 38px;
    background: #eee;
    padding: 5px 12px 8px 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: top 0.5s ease;
}

.confirm-button {
    display: inline-block;
    padding: 4px;
    margin-left: 6px;
    color: #fff;
    cursor: pointer;
}

.confirmed {
    background: darkgreen;
}

.denied {
    background: darkred;
}


/* projects */

office, ofc-projects, ofc-detail, ofc-contacts, ofc-documents, ofc-graphics {
    display: block;
    width: 100%;
    height: 100%;
}

.projects-col-1 {
    vertical-align: top;
    display: inline-block;
    width: 460px;
    height: 100%;
    overflow: auto;
    margin-right: 16px;
}

.projects-col-2 {
    vertical-align: top;
    display: inline-block;
    width: 290px;
    height: 100%;
    overflow: auto;
    margin-right: 16px;
}

.projects-col-3 {
    vertical-align: top;
    display: inline-block;
    margin-right: 16px;
    width: 290px;
    height: 100%;
    overflow: auto;
}

.projects-col-4 {
    vertical-align: top;
    display: inline-block;
    width: 140px;
    height: 100%;
    overflow: auto;
}

tr.new-project, tr.filter {
    background: #eee;
}

table.ofc-table tr td {
    height: 34px;
    vertical-align: top;
    cursor: pointer;
}

table tr.tr-red {
    background: #de7070;
}

table tr.tr-red td:first-child, table tr.tr-yellow td:first-child {
    border-right: 1px solid #fff;
}

table tr.tr-yellow {
    background: #fed401;
}

table.ofc-table tr td.table-spacer {
    height: 4px;
}

table.ofc-table tr td span {
    padding: 10px 0 0 10px;
    display: inline-block;
}

.ofc-table input {
    margin: 4px;
    height: 26px;
    padding: 2px 8px;
    background: transparent;
    border: none;
    width: calc(100% - 8px);
}

.ofc-table input:hover {
    background: rgba(0,0,0,0.04);
}

.ofc-table input:focus {
    background: #eee;
    color: #000;
}

input.new-contact {
    width: calc(100% - 40px);
}

.project-title {
    border-left: 3px solid transparent;
    border-right: 1px solid #fff;
}

.selected td:first-child {
    border-left: 3px solid #000;
}

.project-title span {
    display: inline-block;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
}

.project-hours-score {
    float: left;
    height: 100%;
    width: 135px;
    border-right: 1px solid #fff;
    color: #000;
}

ofc-hours {
    display: block;
    height: 50%
}

ofc-hours .score-bg{
    background: #eee;
    width: 100%;
}

.worked-hours {
    width: 30px;
    text-align: right;
    display: inline-block;
}

.total-hours {
    width: 30px;
    display: inline-block;
}

.score-bg {
    display: inline-block;
    position: relative;
    background: #fff;
    height: 12px;
    width: 64px;
    margin-top: 11px;
}

.score-fg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #000;
}

.score-bg.score-over {
    background: #000;
}

.score-bg.score-over .score-fg {
    background: #f00;
}

.project-budget {
    display: inline-block;
    width: 70px;
    text-align: right;
}

.project-buttons {
    padding-right: 4px;
    border-right: 1px solid #eee;
}

.project-cell {
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-left: 4px;
    background: #fff;
}

/*
#project-totals {
    padding-top: 40px;
    clear: both;
}

#project-totals #totals-left {
    float: left;
    width: 120px;
}

#project-totals #totals-right {
    float: left;
    width: 100px;
    text-align: right;
}
*/


/* detail */

.detail select {
    margin: 3px 0 0 2px;
}

.detail .label {
    padding: 10px 6px;
    text-align: right;
    vertical-align: top;
}

.td-status {
    padding-top: 5px;
}

.status-label {
    width: 30px;
    height: 10px;
    margin: 0 6px;
    display: inline-block;
}

input.detail-hours, input.detail-rate, input.detail-discount, input.detail-currency {
    width: 30px;
}

table.ofc-table tr.status-total td {
    height: 20px;
}

/* distribution */

.distribution-set {
    display: inline-block;
    margin: 4px;
}

.distribution-input {
    width: 30px;
}

.distribution-container {

}

.distribution-graph-container {
    height: 80px;
    position: relative;
    background: #EEEEEE;
    margin-bottom: 5px;
}

.distribution-label {
    padding: 4px 8px;
    color: #fff;
    font-size: 9px;
    float: right;
}

.distribution-graph-line {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted red;
}

.distribution-block {
    width: 30px;
    background: #888;
    margin-right: 2px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.distribution-member {
    position: absolute;
    left: 8px;
    top: 0;
    font-size: 7px;
    color: #fff;
}

/* hours */

input.hours-description {
    width: 170px;
}

input.hours-time {
    width: 40px;
}



/* paper */

ofc-document {
    display: block;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    overflow: auto;
}

#paper-container {
    display: block;
    padding: 30px;
    width: 900px;
    margin: 0 auto;
}

#paper {
    float: left;
    display: inline-block;
    width: 622px;
    height: 880px;
    background: #fff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border: 1px solid #888;
    padding: 80px 60px;
    margin-right: 10px;
    margin-bottom: 100px;
}

#paper-header {
    width: 50%;
    float: left;
}

#paper-info {
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 8px;
}

#paper-info input {
    font-weight: 700;
    padding: 0;
    font-family: "Roboto condensed";
    font-size: 14px;
    text-align: right;
}

.paper-year {
    width: 38px;
}

.paper-nr {
    width: 30px;
}

#paper-contact {
    clear: both;
    width: 100%;
    padding-top: 20px;
    overflow: auto;
}

#paper-contact-left {
    width: calc(50% - 20px);
    float: left;
    border-top: 1px solid #000;
    padding-top: 10px;
    margin-right: 10px;
}

#paper-contact-right {
    width: calc(50% - 20px);
    float: left;
    border-top: 1px solid #000;
    padding-top: 10px;
    margin-left: 10px;
}

#paper-contact-right input, #paper-contact-left input {
    width: 150px;
}

#paper input {
    border: 0;
    background: #f5f5f5;
    padding: 4px;
}

.input-bold {
    font-weight: 700;
}

#paper-betreft {
    margin-top: 20px;
    width: 100%;
}

#paper-betreft input {
    width: 400px;
}

#paper-werkzaamheden {
    padding-top: 20px;
    width: 100%;
}

#paper-werkzaamheden ul {
    padding: 0;
    margin-left: -14px;
}

.handle {
    cursor: move;
    display: inline-block;
    width: 20px;
    float: left;
    padding: 6px;
}

.ui-sortable-helper {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    z-index: 1000;
    background: #fff;
}

.werkzaamheden-cell {
    display: inline-block;
    width: calc(100% - 20px);
    float: left;
}

.locked-file #paper-werkzaamheden ul {
    margin-left: 0;
}

.locked-file #paper-contact-left, .locked-file #paper-contact-right, .locked-file #paper-werkzaamheden ul {
    font-family: "Roboto";
    font-size: 11px;
}


.werkzaamheden-row {
    width: 100%;
    overflow: auto;
    clear: both;
    margin-bottom: 1px;
}

.werkzaamheden-row-c1 {
    float: left;
    width: calc(52% - 30px);
}

.werkzaamheden-row-c1 input {
    width: 90%;
}

.werkzaamheden-row-c2 {
    float: left;
    width: 12%;
}

.werkzaamheden-row-c2 input {
    width: 78%;
    text-align: right;
}

.werkzaamheden-row-c3 {
    float: left;
    width: 12%;
}

.werkzaamheden-row-c3 input {
    width: 90%;
}

.werkzaamheden-row-c4 {
    float: left;
    width: 24%;
    text-align: right;
}

.werkzaamheden-row-c4 input {
    width: 50%;
    text-align: right;
}

input.longtext {
    width: calc(100% - 50px);
}

.subtotal {
    margin-bottom: 20px;
}

.subtotal-1 {
    height: 20px;
}

.subtotal-1 > div {
    padding-top: 5px;
}

.subtotal .werkzaamheden-row-c1 {
    padding-left: 4px;
}

.subtotal-total {
    border-top: 1px solid #000;
}

.enter {
}

.remove-post {
    float: right;
    margin-top: 0!important;
}

#werkzaamheden-totaal {
    width: 100%;
    border-top: 1px solid #000;
    margin-top: 20px;
    padding-top: 10px;
}

#werkzaamheden-totaal span.left {
    float: left;
    width: 50%;
}

#werkzaamheden-totaal span.right {
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 30px;
}

#werkzaamheden-nieuw {
    clear: both;
    padding-top: 20px;
}

#paper-buttons {
    float: left;
    display: inline-block;
    width: 170px;
}

#paper-buttons-extra {
    margin-top: 20px;
    color: #fff;
}

#paper-buttons-extra input {
    width: 30px;
}

#paper-buttons-extra span {
    width: 120px;
    display: inline-block;
}



/* contacts */


.contact-card {
    width: 300px;
    float: left;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin: 0 20px 20px 0;
    border-left: 1px solid #ddd;
}

.contact-new {
    padding-bottom: 90px;
}

.contact-card hr {
    width: 92%;
    border: none;
    border-top: dotted 1px #ddd;
    color: #fff;
    background-color: #fff;
}

.card-head {
    color: #de7070;
    padding: 20px;
    overflow: auto;
    margin-bottom: 10px;
}

.card-head.card-head-new {
    background: #ddd;
}

.card-head .contact-id {
    float: left;
    font-size: 20px;
    color: #de7070;
    width: 38px;
}

.card-head .contact-name {
    float: left;
}

.card-head .contact-name input {
    background: transparent;
    color: #de7070;
    border: 0;
    font-size: 20px;
    width: 180px;
}

.card-head button {
    float: right;
}

.contact-card .contact-row {
    width: 100%;
    overflow: auto;
    padding: 4px 15px;
}

.contact-card .contact-label {
    width: 50%;
    display: inline-block;
    float: left;
    font-weight: 300;
}

.contact-card .contact-row input {
    width: 50%;
    float: left;
    border: 0;
    background: #eee;
    padding: 4px;
}

.contact-tools {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    background: #555;
}




/* comments */


ofc-comments {
    width: 100%;
    height: 50%;
    display: block
}

ofc-comments input {
    margin-top: 10px;
    width: 100%;
}

.comment {
    margin-bottom: 12px;
    position: relative;
}

.comment:after {
    content: '';
    position: absolute;
    left: 25px;
    bottom: 2px;
    width: 16px;
    height: 16px;
    background-image: url('frontend/assets/img/triangle.png');
}

.comment-text {
    background: #eeeeee;
    padding: 10px;
    border-radius: 15px;
}

.comment-date {
    font-size: 10px;
    color: #888;
    text-align: right;
    margin: 2px 10px 0 0;
}



/* icons **/

.spacer {
    width: 26px;
    display: inline-block;
}

.icon {
    font-family: 'glyphs';
    font-size: 20px;
    color: #000;
}

.glyph {
    text-align: center;
    font-family: "glyphs";
    vertical-align: top;
    font-size: 13px;
    background: #fff;
    color: #888;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    margin-top: 4px;
}

.glyph.inactive {
    color: #ddd;
}

.glyph:hover {
    color: #fff;
    background: #de7070;
}

.project-card .glyph {
    position: relative;
    top: -1px;
    background: transparent;
    color: #000;
}

.project-card .glyph:hover {
    background: rgba(255,255,255,1);
    color: #000;
}

.red:hover {
    color: #fff!important;
    background: #f00!important;
}

.grey {
    background: #fff;
    color: #000;
    border: 1px solid rgba(0,0,0,0.5);
}

.grey:hover {
    border: 1px solid transparent;
}

.unlocked:hover {
    background: red!important;
    color: #000!important;
}

.locked {
    background: red;
}

.locked:hover {
    background: #fff!important;
    color: #000!important;
}


.doc {
    background: #fff;
    color: #888;
    border: 0;
    padding: 3px 6px 4px 6px;
    margin-right: 4px;
    margin-top: 3px;
    border-radius: 13px;
    height: 26px;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
}

.doc:hover, .selected {
    background: #de7070;
    color: #fff;
}

.doc.niet-betaald:hover, .doc.niet-betaald.selected {
    background: #f00;
    color: #fff;
}

.doc a {
    color: #888;
    text-decoration: none;
}

.doc:hover a {
    color: #fff;
}

span.gl {
    font-family: "glyphs";
    font-size: 14px;
    top: 2px;
    position: relative;
}




/* loading bar */


#loading-bar {
    position: fixed;
    width: 200px;
    height: 30px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    left: calc(50% - 100px);
    top: 45%;
    background: #fff;
    display: none;
}

#loaded {
    color: #de7070;
    height: 100%;
    width: 0;
}

#loaded-nr {
    position: absolute;
    left: calc(50% - 20px);
    top: 4px;
    text-align: center;
    z-index: 100;
    width: 40px;
    color: #000;
}







/* status buttons */

.status-0 .status-up:hover {
    background: #7DE3A9;
}

.status-1 .status-down:hover {
    background: #C1DBD6;
}

.status-1 .status-up:hover {
    background: #de7070;
}

.status-2 .status-down:hover {
    background: #7DE3A9;
}

.status-2 .status-up:hover {
    background: #aa1717;
}

.status-3 .status-down:hover {
    background: #de7070;
}

.status-3 .status-up:hover {
    background: #999;
}

.status-4 .status-down:hover {
    background: #aa1717;
}

.status-4 .status-up:hover {
    background: #555;
}

.status-5 .status-down:hover {
    background: #999;
}

.status-0 .project-status {
    background: #C1DBD6;
}

.status-1 .project-status {
    background: #7DE3A9;
}

.status-2 .project-status {
    background: #de7070;
}

.status-3 .project-status {
    background: #aa1717;
}

.status-4 .project-status {
    background: #999;
}

.status-5 .project-status {
    background: #555;
}








/* glyph */

.glyph.glyphhidden {
    color: #ddd;
}

.glyph.glyphhidden:hover {
    color: #fff;
}

.niet-betaald {
    color: #f00;
}


.att {
    position: relative;
    width: 120px;
    padding-right: 30px;
}

.att-frame {
    display: inline-block;
    float: right;
    width: 68px;
    overflow: hidden;
    white-space: nowrap;
}

.att-frame-in {
    float: right;
    text-align: left;
    min-width: 68px;
    padding-top: 2px;
}

.remove-att.glyph {
    display: none;
    position: absolute;
    right: 5px;
    top: 4px;
    z-index: 100;
    font-size: 10px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-top: 0px;
}

.att:hover > .remove-att {
    display: inline-block;
}

.att-full-name {
    white-space: nowrap;
    min-width: 120px;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    background: #de7070;
    color: #fff;
    border: 0;
    padding: 3px 30px 4px 6px;
    border-radius: 13px;
    height: 26px;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 400;
}

.att:hover > .att-full-name {
    display: inline-block;
}






/* configuration */


configure {
    width: 300px;
    position: absolute;
    right: 8px;
    top: 42px;
    z-index: 1000;
    font-size: 12px;
}

configure #config-button {
    float: right;
    font-family: "glyphs";
    font-size: 20px;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
    margin-right: 15px;
}

configure #config-button:hover {
    color: #000;
}

#configuration {
    clear: both;
    margin-top: 27px;
    border-top: 1px solid #000;
    background: #ddd;
    padding: 20px;
    display: none;

}

configure input {
    width: 40px;
}

configure table tr td {
    vertical-align: top;
    padding: 6px;
    padding-right: 24px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.configure-checkbox {
    width: auto;
}

configure .member-input-name {
    width: 100px;
}

configure .member-input-initial {
    width: 40px;
}

.configuration-company input {
    width: 100%;
}

.configuration-company input.configuration-rate {
    width: 80px;
}




/********** overige *************/

#dollar-warning {
    clear: both;
    background: #C93434;
    padding: 20px;
    color: #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    border-radius: 4px;
    transform: rotateZ(-3deg);
    width: 70%;
    position: relative;
    left: -150px;
    top: 40px;
}




/*************** ng-animate *************/


.animation-item.ng-enter,
.animation-item.ng-leave {
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

.animation-item.ng-enter,
.animation-item.ng-leave.ng-leave-active {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
}

.animation-item.ng-leave,
.animation-item.ng-enter.ng-enter-active {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
}


.animation-item-2.ng-enter,
.animation-item-2.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.animation-item-2.ng-enter,
.animation-item-2.ng-leave.ng-leave-active {
    opacity: 0;
}

.animation-item-2.ng-leave,
.animation-item-2.ng-enter.ng-enter-active {
    opacity: 1;
}

/* sortable */

.ui-sortable-helper {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    list-style: none;
    background: #fff;
}

.sortable-placeholder {
    list-style: none;
    box-shadow: inset 0 3px 5px 0 #636363,5px 5px 5px 1px #ddd;
    -webkit-box-shadow: inset 0 3px 5px 0 #636363,5px 5px 5px 1px #ddd;
    -moz-box-shadow: inset 0 3px 5px 0 #636363,5px 5px 5px 1px #ddd;
    -o-box-shadow: inset 0 3px 5px 0 #636363,5px 5px 5px 1px #ddd;
}

.ui-sortable-helper input {
    border: 0;
}

/* graphics */

.graph-container {
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
    padding: 4px;
    width: 600px;
    position: relative;
}

.graph-month {
    width: 40px;
    margin-right: 5px;
    height: 150px;
    position: relative;
    display: inline-block;
}

.graph-bar {
    position: absolute;
    width: 100%;
    background: #de7070;
    left: 0;
    bottom: 0;
}

.graph-label {
    position: absolute;
    left: 0;
    top: -20px;
    font-size: 7px;
    width: 100%;
    text-align: center;
}

.graph-label-year {
    position: absolute;
    right: 5px;
    width: 30px;
    bottom: -20px;
    background: #000;
    color: #fff;
    padding: 2px;
    font-size: 7px;
    text-align: center;
}