@import "activity/activity";


block-detail {
    position: fixed;
    left: ~'calc(50% - 300px)';
    height: ~'calc(100% - 200px)';
    width: 600px;
    top: 100px;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

    .block-detail-header {
        height: 60px;
        border-bottom: 1px solid #ddd;
        padding: 15px 30px;
    }

    .block-detail-body {
        height: ~'calc(100% - 140px)';
        overflow: auto;

        .block-detail-body-row {
            display: block;
            border-bottom: 1px solid @green;
            margin-bottom: 8px;
            padding: 30px;
            position: relative;

            .activity-remove {
                position: absolute;
                right: 10px;
                top: 10px;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .block-detail-footer {
        height: 80px;
        border-top: 1px solid#ddd;
        padding: 23px;

        .glyph-container {
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
        }

        input {
            width: 50px;
            padding: 5px;
            margin-top: 3px;
            outline: 0;
        }
    }
}