@import "clock/clock";


block-detail {
    position: fixed;
    left: ~'calc(50% - 300px)';
    top: ~'calc(50% - 300px)';
    width: 600px;
    height: 600px;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 30px;
    overflow: auto;
}