$status-0: #B29E49;
$status-1: #35C620;
$status-2: #2EC3DB;
$status-3: #CC2F2F;
$status-4: #ddd;
$status-5: #999;

.status-0 {
    background: $status-0;
}

.status-1 {
    background: $status-1;
}

.status-2 {
    background: $status-2;
}

.status-3 {
    background: $status-3;
}

.status-4 {
    background: $status-4;
}

.status-5 {
    background: $status-5;
}


.status-indicator {
    display: flex;
    align-items: center;

    .status-indicator__icon {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,0.2);
        margin-right: 18px;
    }
}

