graph {
    display: block;
    height: 100%;
    position: relative;

    .graph-wrapper {
        height: 8px;
        width: 60px;


        .graph-left {
            background: #b4d100;
            height: 100%;
            float: left;
        }

        .graph-right {
            background: #ff2222;
            height: 100%;
            float: left;
        }
    }


}

