.project-row {
    display: flex;
    height: 34px;
    margin-bottom: 4px;

    .project-cell {
        height: 100%;
        padding: 10px 6px;
        display: flex;
        align-items: center;

        &.project-cell--left {
            width: 146px;
            border-right: 1px solid #fff;
            white-space: nowrap;
            overflow: hidden;
        }

        &.project-cell--middle {
            width: 144px;
            border-right: 1px solid #fff;

            .worked-hours {
                width: 30px;
                text-align: right;
                display: inline-block;
            }

            .total-hours {
                width: 30px;
                display: inline-block;
            }
        }

        &.project-cell--right {
            width: 79px;
            text-align: right;
        }



        &.project-cell--tools {
            width: 68px;
            background: #fff;
            border-left: 0;
            justify-content: center;
        }

        &.project-cell-5 {
            width: 290px;
        }
    }
}