@import "detail/detail";
@import "cells";
@import "project-sums/project-sums";
@import "projects-filter/projects-filter";
@import "project/project";


#projects {
    width: 457px;
    position: absolute;
    left: 10px;
    top: 10px;
    height: ~'calc(100% - 20px)';



    #project-add {

    }

    projects-filter,
    #project-add {

        .project-cell {
            background: #ddd;

            input[type=text] {
                width: 100%;
                background: transparent;
                border: 0;
                padding: 4px;
                transition: all 0.5s ease;
                outline: none;
            }

            input:focus {
                background: #fff;
            }
        }

        .project-cell--right {
            text-align :left;
            padding-right: 0;
        }

        .project-cell--tools {
            border: 0;
        }

        .project-cell-6 {
            width: 142px;
        }

        .project-cell-7 {
            width: 291px;

            button {
                float: right;
                margin: -5px 4px 0 0;
            }
        }

        .project-cell-8 {
            width: 147px;

            select {
                float: right;
            }
        }

        .project-cell-5, .project-cell--left {
            padding: 8px;
        }
    }

    #projects-loop {
        height: ~'calc(100% - 240px)';
        overflow: auto;
        width: 100%;

        .project-row {
            cursor: pointer;

            &.current-project {

                .project-cell--left {
                    border-left: 4px solid #000;
                }
            }
        }
    }
}

#project-properties {
    width: ~'calc(100% - 520px)';
    position: absolute;
    right: 10px;
    top: 10px;
    height: ~'calc(100% - 20px)';
}


