@import "detail/detail";
@import "distribution/distribution";
@import "comments/comments";
@import "hours/hours";


.projects-col-1 {
    vertical-align: top;
    display: inline-block;
    width: 460px;
    height: 100%;
    overflow: auto;
    margin-right: 16px;
}

.projects-col-2 {
    vertical-align: top;
    display: inline-block;
    width: 290px;
    height: 100%;
    overflow: auto;
    margin-right: 16px;
}

.projects-col-3 {
    vertical-align: top;
    display: inline-block;
    margin-right: 16px;
    width: 290px;
    height: 100%;
    overflow: auto;
}

.projects-col-4 {
    vertical-align: top;
    display: inline-block;
    width: 140px;
    height: 100%;
    overflow: auto;
}


.ofc-row {
    clear: both;
    height: 40px;
    border-bottom: 4px solid #fff;

    .ofc-cell {
        float: left;
        height: 100%;
        padding: 10px 4px 0 10px;
        vertical-align: top;
    }

    .ofc-cell-1 {
        width: 146px;
        border-right: 1px solid #fff;
    }

    .ofc-cell-2 {
        width: 144px;
        border-right: 1px solid #fff;

        .worked-hours {
            width: 30px;
            text-align: right;
            display: inline-block;
        }

        .total-hours {
            width: 30px;
            display: inline-block;
        }
    }

    .ofc-cell-3 {
        width: 79px;
        text-align: right;
        padding-right: 10px;
    }

    .ofc-cell-4 {
        width: 68px;
        border: 1px solid #ddd;
        border-left: 0;
        padding: 0 0 0 6px;
    }

    .ofc-cell-5 {
        width: 290px;
    }

    .project-name span {
        white-space: nowrap;
        overflow: hidden;
        display: block;
        width: calc(100% - 4px);
    }
}

.projects .ofc-row {
    cursor: pointer;
}

.selected .ofc-cell-1 {
    border-left: 4px solid #000;
}

.filter, .new-project {

    .ofc-cell {
        background: #eee;

        input[type=text] {
            width: 100%;
            background: transparent;
            border: 0;
            padding: 4px;
            transition: all 0.5s ease;
        }

        input:focus {
            background: #fff;
        }
    }

    .ofc-cell-3 {
        text-align :left;
        padding-right: 0;
    }

    .ofc-cell-4 {
        border: 0;
    }

    .ofc-cell-6 {
        width: 142px;
    }

    .ofc-cell-7 {
        width: 291px;

        button {
            float: right;
            margin: -5px 4px 0 0;
        }
    }

    .ofc-cell-8 {
        width: 147px;

        select {
            float: right;
        }
    }

    .ofc-cell-5, .ofc-cell-1 {
        padding: 8px;
    }
}

.filter {
    .ofc-cell-4 {
        padding-top: 8px;
    }
}

.sums {

    margin-top: 40px;

    .ofc-row {
        height: 20px;

        .ofc-cell {
            padding: 4px;
        }

        .ofc-cell-3 {
            text-align: left;
        }
    }
}