.mail__container {
    display: flex;

    .mail {
        width: ~'calc(100% - 200px)';

        .mail__section {
            border-bottom: 1px solid #ddd;
            padding: 6px 0;

            .mail__info-row {
                display: flex;
                align-items: center;
                height: 32px;

                .mail__label {
                    width: 60px;
                    color: #aaa;
                }

                .mail__row-content {
                    width: ~'calc(100% - 60px)';
                }
            }
        }

        .mail__content {
            padding: 6px 0;

            textarea {
                width: ~'calc(100% + 4px)';
                height: 100px;
                margin-left: -4px;
            }
        }

        .mail__attachements {
            padding: 20px 0;
            display: flex;

            .attachement {
                background: #eee;
                padding: 10px;
                display: flex;
                align-items: center;

                .attachement__icon {
                    margin-right: 8px;
                }
            }
        }
    }

    .mail__tools {
        width: 200px;
        padding-left: 20px;
    }
}



.popup__footer {
    margin-top: 40px;

    .mail__button {
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
        padding: 12px 24px;
        background: #0f77e6;
        display: inline-block;
        font-size: 16px;

        &:hover {
            box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        }
    }
}


