block {
    display: block;

    margin: 4px 0 20px 0;
    position: relative;

    &.big-block {
    }

    .block-head {
        border: 1px solid #ddd;
        padding: 8px;
        position: relative;
        background: #fff;
        margin-bottom: -1px;

        .block-head-time {
            display: inline-block;
            vertical-align: top;
            margin-right: 4px;
            color: #888;
        }

        button {
            position: absolute;
            right: 8px;
            top: 0;
        }
    }

    .block-body {
        padding: 8px;
        margin-right: 40px;
        background: #fff;
        border: 1px solid #ddd;

        .block-row {

            .block-title {
                display: inline-block;
                width: ~'calc(100% - 50px)';
                padding: 6px;
                cursor: pointer;
                color: #555;
                font-size: 11px;
            }

            input {
                outline: 0;
                padding: 3px;
                margin-bottom: 2px;
                width: 40px;
                text-align: right;
                background: transparent;
                border: 1px solid #ddd;
            }
        }
    }


}