project-sums {
    margin-top: 10px;

    .project-row {
        height: 20px;

        .project-cell {
            padding: 4px;
        }

        .project-cell--right {
            text-align: left;
        }
    }
}