@import "clock/clock";

block {
    display: block;
    background: #fff;
    margin: 4px 0 20px 0;

    &.big-block {
        min-height: 200px;
    }

    .block-tools {
        padding: 0 10px 10px;

        button {
            background: #eee;
        }
    }
}