@import "block/block";
@import "todo/todo";


day {
    width: ~'calc(100% / 5)';
    height: 100%;
    padding: 10px;
    float: left;
    display: block;

    .day-label {
        background: #ddd;
        padding: 3px 10px;
        height: 40px;
        position: relative;


        .day-label-text {
            margin-top: 9px;
            vertical-align: top;
            display: inline-block;
            width: 50%;
        }

        .todo-menu {
            display: inline-block;
            padding-top: 4px;

            .todo-menu-label {
                display: inline-block;
                margin: 5px 3px 0 0;
            }

            .glyph {
                background: transparent;
                color: #fff;
                border: 1px solid #fff;
            }
        }

        > button {
            float: right;
        }
    }

    .todo-wrapper {
        position: absolute;
        left: 1px;
        top: 100%;
        width: ~'calc(100% - 2px)';
        overflow: hidden;
        height: 0;
        padding: 0 1px;
        z-index: 1;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);

        &.todo-wrapper--open {
            height: auto;
        }

        .todo-panel {
            background: @todo-color;
            padding: 10px 0 40px 0;


            .todo-container {
                height: ~'calc(100% - 30px)';
                overflow: auto;
                padding: 20px 0;
                border-bottom: 1px solid #fff;

                &:last-child {
                    border-bottom: 0;
                    padding-bottom: 0;
                }

                .todo-container-label {
                    padding: 0 0 12px 18px;
                    font-weight: 700;
                }
            }

            .todo--empty {
                height: 30px;

                .todo-title {
                    border-bottom: 1px dashed #aaa;
                }

            }
        }
    }





    .day-blocks {
        padding: 0;
        height: ~'calc(100% - 40px)';
        overflow: auto;

        li {
            list-style: none;
        }
    }
}