@import "block/block";
@import "todo/todo";


day {
    width: ~'calc(100% / 5)';
    height: 100%;
    padding: 10px;
    float: left;
    display: block;

    .day-label {
        background: #ddd;
        padding: 3px 10px;
        height: 40px;

        div {
            margin-top: 9px;
            vertical-align: top;
            display: inline-block;
        }

        button {
            float: right;
        }
    }

    .todo-panel {
        height: 120px;
        background: #DDE8DD;
        padding: 10px;

        .todo-container {
            height: ~'calc(100% - 30px)';
            overflow: auto;
        }

        .todo--empty {
            height: 30px;

            .glyph {
                background: transparent;
                border: 1px solid #aaa;
                margin-top: 7px;

                &:hover {
                    color: inherit;
                    background: #fff;
                }
            }
        }
    }



    .day-blocks {
        padding: 0;
        height: ~'calc(100% - 40px)';
        overflow: auto;

        li {
            list-style: none;
        }
    }
}