clock {

    &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
    }

    input {
        outline: 0;
        padding: 6px;
        margin-bottom: 2px;
        width: 170px;
    }

    select {
        margin-bottom: 2px;
    }

    .clock-time-input {
        width: 40px;
    }

    .clock-set-container {
        margin-top: 6px;

        .clock-set {
            background: @green;
            padding: 6px;
            margin-right: 6px;
            display: inline-block;

            .clock-set-label {
                margin-bottom: 3px;
                color: rgba(0,0,0,0.7);
            }
        }
    }
}