ofc-comments {
    width: 100%;
    height: 50%;
    display: block;

    .comment {
        margin-bottom: 20px;
        position: relative;
        background: #eeeeee;
        padding: 6px;
        border-radius: 15px;

        .comment-text {
            padding: 6px;
            min-height: 29px;
        }

        .comment-date {
            position: absolute;
            right: 0;
            bottom: -16px;
            font-size: 9px;
            color: #888;
            text-align: right;
            margin: 2px 10px 0 0;
        }

        input {
            width: ~'calc(100% - 40px)';
            border: 1px dashed #aaa;
            background: transparent;
            padding: 2px;
            margin: 3px;
            height: 23px;
        }

        button {
            float: right;
            margin: 1px 4px 0 0;
        }

    }

    .comment:after {
        content: '';
        position: absolute;
        left: 25px;
        bottom: -10px;
        width: 16px;
        height: 16px;
        background-image: url('frontend/assets/img/triangle.png');
    }

    .panel-attachement {
        input {
            margin-top: 10px;
            width: 100%;
        }
    }
}
