.detail {
    .label {
        padding: 4px 6px 14px 6px;
        text-align: right;
        vertical-align: top;
    }

    .td-content {
        vertical-align: top;
        padding-top: 2px;

        input {
            width: 100%;
        }

        input.detail-hours,
        input.detail-rate,
        input.detail-discount,
        input.detail-currency {
            width: 30px;
        }

        select {
            margin-top: 2px;
        }
    }

    .td-status {
        padding-top: 5px;

        .status-label {
            width: 30px;
            height: 10px;
            margin: 0 6px;
            display: inline-block;
        }
    }
}







table.ofc-table tr.status-total td {
    height: 20px;
}