@import './document-info/document-info';
@import './lines/subtotal/subtotal';
@import './document-tools/document-tools';
@import './lines/line/line';
@import './lines/line-tools/line-tools';
@import './document-addresses/document-addresses';

.paper {
    float: left;
    display: inline-block;
    background: #fff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border: 1px solid #888;
    margin-right: 10px;
    margin-bottom: 100px;
    position: relative;

    input {
        background: rgba(0, 0, 0, 0.03);
        font-size: 12px;
        padding: 3px;
        margin: -3px;
        border: 1px solid transparent;
    }

    .paper__container {
        position: relative;

        .paper__header {
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
        }

        .document__info {
            width: 50%;
            position: absolute;
            right: 0;
            top: 0;

            .document__id {
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 2px;
            }

            .document__date {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            input {
                text-align: right;

                &.document-info__year {
                    width: 38px;
                }

                &.document-info__nr {
                    width: 30px;
                }

                &.document-info__day {
                    width: 30px;
                }
            }
        }

        .document__addresses {
            width: 100%;
            position: absolute;
            left: 0;
            padding: 10px;
            border-top: 1px solid #bbb;
            display: flex;
            justify-content: space-between;

            input {
                width: 100%;
            }

            .document__addresses--left{
                width: ~'calc(50% - 20px)';
            }

            .document__addresses--right {
                width: ~'calc(50% - 20px)';
            }
        }

        .document__title {
            width: 100%;
            position: absolute;
            left: 0;
            border-top: 1px solid #bbb;
            border-bottom: 1px solid #bbb;
            display: flex;
            align-items: center;

            input {
                width: ~'calc(100% - 40px)';
            }
        }

        .document__lines {
            width: 100%;
            position: absolute;
            left: 0;

            ul {
                padding: 0;
                margin-left: -14px;
                list-style: none;

                li {
                    position: relative;
                    border-left: 2px solid transparent;
                    padding: 4px 0;

                    &.current-line {
                        border-left: 2px solid #000;
                    }
                }
            }
        }

        .document__total {
            width: 100%;
            position: absolute;
            left: 0;

            span.left {
                float: left;
                width: 50%;
            }

            span.right {
                float: right;
                width: 50%;
                text-align: right;
            }

            .lines-total-big {
                font-size: 150%;
                font-weight: 700;
                margin-top: 5px;
            }
        }

        .document__footer {
            position: absolute;
            text-align: center;
            width: 100%;
            left: 0;

            .document__invoice-text {
                border-top: 1px solid #bbb;
                border-bottom: 1px solid #bbb;
            }

            img {
                width: 100px;
            }
        }

        .document__legal {
            position: absolute;
            text-align: center;
            width: 100%;
            left: 0;
        }
    }
}


.ui-sortable-helper {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    z-index: 1000;
    background: #fff;

    input {
        border: 0;
    }

    .lines-cell {
        padding: 4px;
    }

    .remove-post {
        display: none;
    }
}

li.lines-row, .ui-sortable-helper {
    width: 100%;
    clear: both;
    position: relative;
    min-height: 24px;

    .handle {
        display: inline-block;
        float: left;
        margin: 4px 8px;
        cursor: move;
    }

    .lines-cell {
        display: inline-block;
        width: ~'calc(100% - 30px)';
        float: right;

        .lines-row-c1 {
            float: left;
            width: ~'calc(52% - 30px)';

            input {
                width: 90%;
            }
        }

        .lines-row-c2 {
            float: left;
            width: 12%;

            input {
                width: 78%;
                text-align: right;
            }
        }

        .lines-row-c3 {
            float: left;
            width: 12%;

            input {
                width: 90%;
            }
        }

        .lines-row-c4 {
            float: right;
            width: 24%;
            text-align: right;

            input {
                width: 50%;
                text-align: right;
            }
        }
    }

    .remove-post {
        position: absolute;
        right: -32px;
        top: -6px;
        margin-top: 0!important;
        background: transparent;
    }
}













.locked-file {
    #paper-info,
    .paper-contact-left,
    .paper-contact-right {
        line-height: 1.5;
    }

    li.lines-row {
        margin-left: 0;

        .lines-cell {
            width: ~'calc(100% - 14px)';
        }
    }
}


// todo do this via modal

#dollar-warning {
    clear: both;
    background: #C93434;
    padding: 20px;
    color: #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    border-radius: 4px;
    transform: rotateZ(-3deg);
    width: 70%;
    position: relative;
    left: -150px;
    top: 40px;
}

.ui-sortable-helper {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    list-style: none;
    background: #fff;
    padding: 4px 0;
    min-height: 24px;

    input {
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0;
    }
}

.sortable-placeholder {
    list-style: none;
    background: #ddd;

    input {
        border: 0;
    }
}
