.score-bg {
    display: inline-block;
    position: relative;
    background: #fff;
    height: 12px;
    width: 64px;
    float: right;
    vertical-align: top;
    margin-top: 3px;

    .score-fg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: #000;
    }
}

.score-bg.score-over {
    background: #000;

    .score-fg {
        background: #f00;
    }
}





button {
    cursor: pointer;
}

input[type="text"] {
    font-family: "Roboto condensed";
    font-size: 12px;
    transition: background 0.5s ease;
    width: 100%;
}
