.score-bg {
    display: inline-block;
    position: relative;
    background: #fff;
    height: 12px;
    width: 64px;
    float: right;
    vertical-align: top;
    margin-top: 3px;

    .score-fg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: #000;
    }
}

.score-bg.score-over {
    background: #000;

    .score-fg {
        background: #f00;
    }
}





button {
    cursor: pointer;
}

input[type="text"] {
    font-family: "Roboto condensed";
    font-size: 12px;
    transition: background 0.5s ease;
    width: 100%;
}



/* icons **/

.spacer {
    width: 26px;
    display: inline-block;
}

.icon {
    font-family: 'glyphs';
    font-size: 20px;
    color: #000;
}

.glyph {
    text-align: center;
    vertical-align: top;
    font-size: 13px;
    background: #fff;
    color: #888;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    margin-top: 4px;
}

.glyph.inactive {
    color: #ddd;
}

.glyph:hover {
    color: #fff;
    background: #de7070;
}

.red:hover {
    color: #fff!important;
    background: #f00!important;
}

.grey {
    background: #fff;
    color: #000;
    border: 1px solid rgba(0,0,0,0.5);
}

.grey:hover {
    border: 1px solid transparent;
}

.unlocked:hover {
    background: red!important;
    color: #000!important;
}

.locked {
    background: red;
}

.locked:hover {
    background: #fff!important;
    color: #000!important;
}


.doc {
    background: #fff;
    color: #888;
    padding: 5px 10px 4px 10px;
    margin-right: 4px;
    margin-top: 3px;
    border-radius: 13px;
    height: 26px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;


    span.gl {
        font-size: 14px;
        position: relative;
    }

    &:hover, .selected {
        border: 1px solid #de7070;
        color: #de7070;
    }

    &.niet-betaald {

        &:hover, .selected {
            background: #f00;
            color: #fff;
            border: 0;
        }
    }
}





/* loading bar */


#loading-bar {
    position: fixed;
    width: 200px;
    height: 30px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    left: calc(50% - 100px);
    top: 45%;
    background: #fff;
    display: none;
}

#loaded {
    color: #de7070;
    height: 100%;
    width: 0;
}

#loaded-nr {
    position: absolute;
    left: calc(50% - 20px);
    top: 4px;
    text-align: center;
    z-index: 100;
    width: 40px;
    color: #000;
}




@status-0: #E1EDF9;
@status-1: #EAB54B;
@status-2: #35C620;
@status-3: #CC2F2F;
@status-4: #ddd;
@status-5: #999;

/* status buttons */

.status-0 .status-up:hover {
    background: @status-1;
}

.status-1 .status-down:hover {
    background: @status-0;
}

.status-1 .status-up:hover {
    background: @status-2;
}

.status-2 .status-down:hover {
    background: @status-1;
}

.status-2 .status-up:hover {
    background: @status-3;
}

.status-3 .status-down:hover {
    background: @status-2;
}

.status-3 .status-up:hover {
    background: @status-4;
}

.status-4 .status-down:hover {
    background: @status-3;
}

.status-4 .status-up:hover {
    background: @status-5;
}

.status-5 .status-down:hover {
    background: @status-4;
}

.status-0 .project-status {
    background: @status-0;
}

.status-1 .project-status {
    background: @status-1;
}

.status-2 .project-status {
    background: @status-2;
}

.status-2.project-finished {
    opacity: 0.6;
}

.status-3 .project-status {
    background: @status-3;
}

.status-4 .project-status {
    background: @status-4;
}

.status-5 .project-status {
    background: @status-5;

    span {
        text-decoration: line-through;
    }
}








/* glyph */

.glyph.glyphhidden {
    color: #ddd;
}

.glyph.glyphhidden:hover {
    color: #fff;
}

.niet-betaald {
    color: #f00;
}


.att {
    position: relative;
    width: 120px;
    padding-right: 30px;
}

.att-frame {
    display: inline-block;
    float: right;
    width: 68px;
    overflow: hidden;
    white-space: nowrap;
}

.att-frame-in {
    float: right;
    text-align: left;
    min-width: 68px;
    padding-top: 2px;
}

.remove-att.glyph {
    display: none;
    position: absolute;
    right: 5px;
    top: 4px;
    z-index: 100;
    font-size: 10px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-top: 0px;
}

.att:hover > .remove-att {
    display: inline-block;
}

.att-full-name {
    white-space: nowrap;
    min-width: 120px;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    background: #de7070;
    color: #fff;
    border: 0;
    padding: 3px 30px 4px 6px;
    border-radius: 13px;
    height: 26px;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 400;
}

.att:hover > .att-full-name {
    display: inline-block;
}

.content-bar {
    width: 150px;
    padding: 10px;
    margin: 0 8px 8px 0;
    background: #de7070;
    display: inline-block;
    cursor: pointer;
    border-left: 4px solid transparent;
}

.content-bar.selected {
    border-left: 4px solid #000;
}
