.panel {
    border-left: 2px solid #000;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;

    h2 {
        margin-top: 0;
    }

    .panel-section {
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
    }


}