.panel {
    background: #fff;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;

    h2 {
        margin-top: 0;
    }

    .big-input {
        background: #ddd;
    }
}

.panel-section {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;

    &:last-child {
        border-bottom: 0;
    }
}

.header-panel {
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
    background: #ddd;
}
