.innouveau-square {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
    background: #fed401;
}

.identity {
    display: inline-block;
    font-size: 32px;
    line-height: 40px;
    vertical-align: top;
    font-family: 'Dosis';
}

.menu-select {
    vertical-align: top;
    display: inline-block;
    padding: 18px;

    a {
        padding: 4px 8px;
        color: #000;
        text-decoration: none;
        margin-right: 4px;
    }

    a:hover, a.current {
        border-bottom: 0.5px solid #000;
    }
}